.Link {
  margin-left: 11%;
}
.link {
  margin-left: 11%;
}

.mb-4 {
  margin-left: 20%;
}
input {
  width: 80%;
}
.btn {
  width: 40%;
  margin-left: 10%;
  margin-top: 5vh;
}
.carousel {
  width: 50%;
  margin-top: 16vh;
  margin-left: 25%;
}
.navbar {
  height: 15vh;
}
.lout {
  border: none;
  background-color: rgb(167, 167, 232);
  border-radius: 5px;
  width: 80px;
  height: 30px;
  padding: 0;
  margin-top: 20px;
  margin-left: 1500px;
}
.sout {
  text-decoration: none;
  color: black;
}
